openapi: 3.2.0
info:
  title: Confident Cannabis API - Lab Endpoints Lab Info API
  version: 0.16.0
  description: API endpoints for laboratories to manage samples, orders, test results, and client relationships. Includes endpoints for submitting test results, uploading files, and managing order lifecycle.
  contact:
    name: Confident Cannabis API Support
    url: https://www.confidentcannabis.com
servers:
- url: https://api.confidentcannabis.com
  description: Production server
security:
- ApiKeyAuth: []
  SignatureAuth: []
  TimestampAuth: []
tags:
- name: Lab Info
  description: Lab organization information
paths:
  /v0/labs/lab:
    get:
      summary: Get lab information
      description: Returns information about the authenticated lab organization.
      operationId: getLab
      tags:
      - Lab Info
      responses:
        '200':
          description: Successful response with lab details
          content:
            application/json:
              schema:
                type: object
                required:
                - success
                - lab
                properties:
                  success:
                    type: boolean
                    example: true
                  lab:
                    type: object
                    properties:
                      id:
                        type: integer
                      name:
                        type: string
                      email:
                        type: string
                      phone:
                        type: string
                      url:
                        type: string
                      state:
                        type: string
                      city:
                        type: string
        '401':
          description: Authentication failed
          content:
            application/json:
              schema:
                type: object
                required:
                - success
                - error_code
                - error_message
                properties:
                  success:
                    type: boolean
                    example: false
                  error_code:
                    type: string
                  error_message:
                    type: string
                  error_details:
                    type: object
        '403':
          description: Access denied
          content:
            application/json:
              schema:
                type: object
                required:
                - success
                - error_code
                - error_message
                properties:
                  success:
                    type: boolean
                    example: false
                  error_code:
                    type: string
                  error_message:
                    type: string
                  error_details:
                    type: object
components:
  securitySchemes:
    ApiKeyAuth:
      type: apiKey
      in: header
      name: X-ConfidentCannabis-APIKey
      description: API key for authentication
    SignatureAuth:
      type: apiKey
      in: header
      name: X-ConfidentCannabis-Signature
      description: HMAC SHA256 signature (required if signing enabled)
    TimestampAuth:
      type: apiKey
      in: header
      name: X-ConfidentCannabis-Timestamp
      description: Unix timestamp (required if signing enabled, must be within 30 seconds)
