{"openapi":"3.1.0","info":{"title":"Clients","version":"0.16.0","description":"API endpoints for clients to view their orders, samples, and associated labs. All endpoints are read-only (GET) and accessible only with client API credentials.","contact":{"name":"Confident Cannabis API Support","url":"https://www.confidentcannabis.com"}},"servers":[{"url":"https://api.confidentcannabis.com","description":"Production server"}],"security":[{"ApiKeyAuth":[]}],"paths":{"/v0/clients/client":{"get":{"summary":"Get current client information","description":"Returns information about the authenticated client organization.","operationId":"getClient","tags":["Client Info"],"security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Successful response with client details","content":{"application/json":{"schema":{"type":"object","required":["success","client"],"properties":{"success":{"type":"boolean","example":true},"client":{"type":"object","description":"Detailed information about a client organization","required":["id","name","training","last_modified"],"properties":{"id":{"type":"integer","description":"Unique client ID","example":123},"name":{"type":"string","description":"Organization name","example":"Green Valley Dispensary"},"email":{"type":"string","format":"email","description":"Organization email","example":"contact@greenvalley.com"},"phone":{"type":"string","description":"Organization phone number","example":"(555) 123-4567"},"url":{"type":"string","format":"uri","description":"Organization website","example":"https://greenvalley.com"},"training":{"type":"boolean","description":"Whether this is a training/demo client","example":false},"last_modified":{"type":"string","format":"date-time","description":"Last modification timestamp","example":"2025-01-15T10:30:00Z"},"primary_address":{"type":"object","description":"Physical address","properties":{"street":{"type":"string","example":"123 Main St"},"city":{"type":"string","example":"Denver"},"state":{"type":"string","example":"CO"},"zip":{"type":"string","example":"80202"},"country":{"type":"string","example":"USA"}}},"licenses":{"type":"array","description":"Business licenses","items":{"type":"object","description":"Business license information","properties":{"license_number":{"type":"string","example":"MED-12345"},"license_type":{"type":"string","example":"Medical Marijuana Dispensary"},"state":{"type":"string","example":"CO"},"expiration_date":{"type":"string","format":"date","example":"2026-12-31"}}}}}}}},"examples":{"success":{"summary":"Successful client response","value":{"success":true,"client":{"id":123,"name":"Green Valley Dispensary","email":"contact@greenvalley.com","phone":"(555) 123-4567","url":"https://greenvalley.com","training":false,"last_modified":"2025-01-15T10:30:00Z","primary_address":{"street":"123 Main St","city":"Denver","state":"CO","zip":"80202","country":"USA"},"licenses":[{"license_number":"MED-12345","license_type":"Medical Marijuana Dispensary","state":"CO","expiration_date":"2026-12-31"}]}}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","description":"Error response","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string","example":"missing_api_key"},"error_message":{"type":"string","example":"Missing API key header"},"error_details":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","description":"Error response","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string","example":"permission_denied"},"error_message":{"type":"string","example":"Access denied"},"error_details":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}}}}},"/v0/clients/orders":{"get":{"summary":"List orders","description":"Returns a paginated list of orders for the authenticated client. Supports filtering by status and modification time.","operationId":"getOrders","tags":["Orders"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"start","in":"query","description":"Pagination offset (number of records to skip)","required":false,"schema":{"type":"integer","default":0,"minimum":0,"example":0}},{"name":"limit","in":"query","description":"Maximum number of records to return (max 100)","required":false,"schema":{"type":"integer","default":100,"minimum":1,"maximum":100,"example":100}},{"name":"status_id","in":"query","description":"Filter by order status ID (1=Placed, 3=In Progress, 4=Completed, 5=Canceled)","required":false,"schema":{"type":"integer","enum":[1,3,4,5]}},{"name":"modified_since_time","in":"query","description":"Filter orders modified since this timestamp (ISO 8601 format)","required":false,"schema":{"type":"string","format":"date-time","example":"2025-01-01T00:00:00Z"}}],"responses":{"200":{"description":"Successful response with list of orders","content":{"application/json":{"schema":{"type":"object","required":["success","orders","more_results"],"properties":{"success":{"type":"boolean","example":true},"orders":{"type":"array","items":{"type":"object","description":"Summary information about an order","required":["lab_internal_id","status_id","status_name","client_id","client_name","num_samples","date_placed","last_modified"],"properties":{"lab_internal_id":{"type":"string","description":"Lab's internal order ID","example":"ORD-2025-001"},"status_id":{"type":"integer","description":"Order status ID (1=Placed, 3=In Progress, 4=Completed, 5=Canceled)","enum":[1,3,4,5],"example":3},"status_name":{"type":"string","description":"Human-readable status name","example":"In Progress"},"client_id":{"type":"integer","description":"Client ID","example":123},"client_name":{"type":"string","description":"Client organization name","example":"Green Valley Dispensary"},"num_samples":{"type":"integer","description":"Number of samples in this order","example":5},"date_placed":{"type":"string","format":"date-time","description":"Date order was placed","example":"2025-01-10T09:00:00Z"},"last_modified":{"type":"string","format":"date-time","description":"Last modification timestamp","example":"2025-01-12T14:30:00Z"}}}},"more_results":{"type":"boolean","description":"True if there are more results beyond this page","example":false}}},"examples":{"with_filters":{"summary":"Orders filtered by status","value":{"success":true,"orders":[{"lab_internal_id":"ORD-2025-001","status_id":3,"status_name":"In Progress","client_id":123,"client_name":"Green Valley Dispensary","num_samples":5,"date_placed":"2025-01-10T09:00:00Z","last_modified":"2025-01-12T14:30:00Z"}],"more_results":false}}}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","description":"Error response","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string","example":"invalid_request"},"error_message":{"type":"string","example":"Invalid request parameters"},"error_details":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","description":"Error response","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string","example":"missing_api_key"},"error_message":{"type":"string","example":"Missing API key header"},"error_details":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","description":"Error response","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string","example":"permission_denied"},"error_message":{"type":"string","example":"Access denied"},"error_details":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}}}}},"/v0/clients/order/{order_id}":{"get":{"summary":"Get order details","description":"Returns detailed information about a specific order including all samples.","operationId":"getOrderDetails","tags":["Orders"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"order_id","in":"path","description":"The lab_internal_id of the order","required":true,"schema":{"type":"string","example":"ORD-2025-001"}}],"responses":{"200":{"description":"Successful response with order details","content":{"application/json":{"schema":{"type":"object","required":["success","order"],"properties":{"success":{"type":"boolean","example":true},"order":{"type":"object","description":"Detailed information about an order including all samples","required":["lab_internal_id","status_id","status_name","client_id","client_name","samples"],"properties":{"lab_internal_id":{"type":"string","description":"Lab's internal order ID","example":"ORD-2025-001"},"status_id":{"type":"integer","enum":[1,3,4,5],"example":3},"status_name":{"type":"string","example":"In Progress"},"client_id":{"type":"integer","example":123},"client_name":{"type":"string","example":"Green Valley Dispensary"},"date_placed":{"type":"string","format":"date-time","example":"2025-01-10T09:00:00Z"},"last_modified":{"type":"string","format":"date-time","example":"2025-01-12T14:30:00Z"},"samples":{"type":"array","description":"All samples in this order","items":{"type":"object","description":"Summary information about a sample","required":["lab_internal_id","public_key","name","sample_type","status_id","status_name","date_created","last_modified"],"properties":{"lab_internal_id":{"type":"string","description":"Lab's internal sample ID","example":"SAMP-2025-001"},"public_key":{"type":"string","description":"Public identifier for the sample","example":"abc123def456"},"name":{"type":"string","description":"Sample name","example":"OG Kush - Batch 42"},"sample_type":{"type":"string","description":"Type of sample","example":"Flower"},"regulator_batch_id":{"type":"string","description":"Regulator batch identifier","example":"BATCH-42"},"harvest_id":{"type":"string","description":"Harvest identifier","example":"HARVEST-2025-01"},"status_id":{"type":"integer","description":"Order status ID","example":3},"status_name":{"type":"string","description":"Human-readable status name","example":"In Progress"},"date_created":{"type":"string","format":"date-time","description":"Creation timestamp","example":"2025-01-10T09:00:00Z"},"last_modified":{"type":"string","format":"date-time","description":"Last modification timestamp","example":"2025-01-12T14:30:00Z"}}}}}}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","description":"Error response","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string","example":"missing_api_key"},"error_message":{"type":"string","example":"Missing API key header"},"error_details":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","description":"Error response","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string","example":"permission_denied"},"error_message":{"type":"string","example":"Access denied"},"error_details":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","description":"Error response","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string","example":"not_found"},"error_message":{"type":"string","example":"Resource not found"},"error_details":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}}}}},"/v0/clients/labs":{"get":{"summary":"List labs","description":"Returns a paginated list of labs associated with the authenticated client.","operationId":"getLabs","tags":["Labs"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"start","in":"query","description":"Pagination offset (number of records to skip)","required":false,"schema":{"type":"integer","default":0,"minimum":0,"example":0}},{"name":"limit","in":"query","description":"Maximum number of records to return (max 100)","required":false,"schema":{"type":"integer","default":100,"minimum":1,"maximum":100,"example":100}},{"name":"state","in":"query","description":"Filter by state (2-letter state code)","required":false,"schema":{"type":"string","pattern":"^[A-Z]{2}$","example":"CO"}}],"responses":{"200":{"description":"Successful response with list of labs","content":{"application/json":{"schema":{"type":"object","required":["success","labs","more_results"],"properties":{"success":{"type":"boolean","example":true},"labs":{"type":"array","items":{"type":"object","description":"Summary information about a lab","required":["id","name","state","city","last_modified"],"properties":{"id":{"type":"integer","example":456},"name":{"type":"string","example":"Rocky Mountain Testing Lab"},"state":{"type":"string","example":"CO"},"city":{"type":"string","example":"Denver"},"last_modified":{"type":"string","format":"date-time","example":"2025-01-10T08:00:00Z"}}}},"more_results":{"type":"boolean","example":false}}},"examples":{"success":{"summary":"Successful labs response","value":{"success":true,"labs":[{"id":456,"name":"Rocky Mountain Testing Lab","state":"CO","city":"Denver","last_modified":"2025-01-10T08:00:00Z"}],"more_results":false}}}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","description":"Error response","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string","example":"invalid_request"},"error_message":{"type":"string","example":"Invalid request parameters"},"error_details":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","description":"Error response","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string","example":"missing_api_key"},"error_message":{"type":"string","example":"Missing API key header"},"error_details":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","description":"Error response","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string","example":"permission_denied"},"error_message":{"type":"string","example":"Access denied"},"error_details":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}}}}},"/v0/clients/lab/{lab_id}":{"get":{"summary":"Get lab details","description":"Returns detailed information about a specific lab.","operationId":"getLabDetails","tags":["Labs"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"lab_id","in":"path","description":"The ID of the lab","required":true,"schema":{"type":"integer","example":456}}],"responses":{"200":{"description":"Successful response with lab details","content":{"application/json":{"schema":{"type":"object","required":["success","lab"],"properties":{"success":{"type":"boolean","example":true},"lab":{"type":"object","description":"Detailed information about a lab","required":["id","name","state","city"],"properties":{"id":{"type":"integer","example":456},"name":{"type":"string","example":"Rocky Mountain Testing Lab"},"email":{"type":"string","format":"email","example":"info@rmtlab.com"},"phone":{"type":"string","example":"(555) 987-6543"},"url":{"type":"string","format":"uri","example":"https://rmtlab.com"},"state":{"type":"string","example":"CO"},"city":{"type":"string","example":"Denver"},"primary_address":{"type":"object","description":"Physical address","properties":{"street":{"type":"string","example":"123 Main St"},"city":{"type":"string","example":"Denver"},"state":{"type":"string","example":"CO"},"zip":{"type":"string","example":"80202"},"country":{"type":"string","example":"USA"}}},"last_modified":{"type":"string","format":"date-time","example":"2025-01-10T08:00:00Z"}}}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","description":"Error response","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string","example":"missing_api_key"},"error_message":{"type":"string","example":"Missing API key header"},"error_details":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","description":"Error response","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string","example":"permission_denied"},"error_message":{"type":"string","example":"Access denied"},"error_details":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","description":"Error response","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string","example":"not_found"},"error_message":{"type":"string","example":"Resource not found"},"error_details":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}}}}},"/v0/clients/samples":{"get":{"summary":"List samples","description":"Returns a paginated list of samples for the authenticated client. Supports filtering by status, batch ID, harvest ID, and modification time.","operationId":"getSamples","tags":["Samples"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"start","in":"query","description":"Pagination offset (number of records to skip)","required":false,"schema":{"type":"integer","default":0,"minimum":0,"example":0}},{"name":"limit","in":"query","description":"Maximum number of records to return (max 100)","required":false,"schema":{"type":"integer","default":100,"minimum":1,"maximum":100,"example":100}},{"name":"status_id","in":"query","description":"Filter by order status ID","required":false,"schema":{"type":"integer"}},{"name":"modified_since_time","in":"query","description":"Filter samples modified since this timestamp","required":false,"schema":{"type":"string","format":"date-time"}},{"name":"regulator_batch_id","in":"query","description":"Filter by regulator batch ID","required":false,"schema":{"type":"string"}},{"name":"harvest_id","in":"query","description":"Filter by harvest ID","required":false,"schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response with list of samples","content":{"application/json":{"schema":{"type":"object","required":["success","samples","more_results"],"properties":{"success":{"type":"boolean","example":true},"samples":{"type":"array","items":{"type":"object","description":"Summary information about a sample","required":["lab_internal_id","public_key","name","sample_type","status_id","status_name","date_created","last_modified"],"properties":{"lab_internal_id":{"type":"string","description":"Lab's internal sample ID","example":"SAMP-2025-001"},"public_key":{"type":"string","description":"Public identifier for the sample","example":"abc123def456"},"name":{"type":"string","description":"Sample name","example":"OG Kush - Batch 42"},"sample_type":{"type":"string","description":"Type of sample","example":"Flower"},"regulator_batch_id":{"type":"string","description":"Regulator batch identifier","example":"BATCH-42"},"harvest_id":{"type":"string","description":"Harvest identifier","example":"HARVEST-2025-01"},"status_id":{"type":"integer","description":"Order status ID","example":3},"status_name":{"type":"string","description":"Human-readable status name","example":"In Progress"},"date_created":{"type":"string","format":"date-time","description":"Creation timestamp","example":"2025-01-10T09:00:00Z"},"last_modified":{"type":"string","format":"date-time","description":"Last modification timestamp","example":"2025-01-12T14:30:00Z"}}}},"more_results":{"type":"boolean","example":false}}},"examples":{"with_filters":{"summary":"Samples filtered by batch ID","value":{"success":true,"samples":[{"lab_internal_id":"SAMP-2025-001","public_key":"abc123def456","name":"OG Kush - Batch 42","sample_type":"Flower","regulator_batch_id":"BATCH-42","harvest_id":"HARVEST-2025-01","status_id":3,"status_name":"In Progress","date_created":"2025-01-10T09:00:00Z","last_modified":"2025-01-12T14:30:00Z"}],"more_results":false}}}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","description":"Error response","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string","example":"invalid_request"},"error_message":{"type":"string","example":"Invalid request parameters"},"error_details":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","description":"Error response","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string","example":"missing_api_key"},"error_message":{"type":"string","example":"Missing API key header"},"error_details":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","description":"Error response","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string","example":"permission_denied"},"error_message":{"type":"string","example":"Access denied"},"error_details":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}}}}},"/v0/clients/sample/{sample_id}":{"get":{"summary":"Get sample details","description":"Returns detailed information about a specific sample including test results. Sample ID can be lab_internal_id, public_key, or regulator_id_to_attach.","operationId":"getSampleDetails","tags":["Samples"],"security":[{"ApiKeyAuth":[]}],"parameters":[{"name":"sample_id","in":"path","description":"Sample identifier (lab_internal_id, public_key, or regulator_id_to_attach)","required":true,"schema":{"type":"string","example":"SAMP-2025-001"}}],"responses":{"200":{"description":"Successful response with sample details","content":{"application/json":{"schema":{"type":"object","required":["success","sample"],"properties":{"success":{"type":"boolean","example":true},"sample":{"type":"object","description":"Extended sample details including test results and files","required":["lab_internal_id","public_key","name","sample_type","status_id","status_name","date_created","last_modified"],"properties":{"lab_internal_id":{"type":"string","description":"Lab's internal sample ID","example":"SAMP-2025-001"},"public_key":{"type":"string","description":"Public identifier for the sample","example":"abc123def456"},"name":{"type":"string","description":"Sample name","example":"OG Kush - Batch 42"},"sample_type":{"type":"string","description":"Type of sample","example":"Flower"},"regulator_batch_id":{"type":"string","description":"Regulator batch identifier","example":"BATCH-42"},"harvest_id":{"type":"string","description":"Harvest identifier","example":"HARVEST-2025-01"},"status_id":{"type":"integer","description":"Order status ID","example":3},"status_name":{"type":"string","description":"Human-readable status name","example":"In Progress"},"date_created":{"type":"string","format":"date-time","description":"Creation timestamp","example":"2025-01-10T09:00:00Z"},"last_modified":{"type":"string","format":"date-time","description":"Last modification timestamp","example":"2025-01-12T14:30:00Z"},"test_results":{"type":"object","description":"Test results organized by category","additionalProperties":{"type":"object"}},"images":{"type":"array","description":"Sample images","items":{"type":"object","properties":{"url":{"type":"string","format":"uri"},"type":{"type":"string"}}}},"coa_url":{"type":"string","format":"uri","description":"URL to Certificate of Analysis PDF"}}}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","description":"Error response","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string","example":"missing_api_key"},"error_message":{"type":"string","example":"Missing API key header"},"error_details":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","description":"Error response","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string","example":"permission_denied"},"error_message":{"type":"string","example":"Access denied"},"error_details":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","description":"Error response","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string","example":"not_found"},"error_message":{"type":"string","example":"Resource not found"},"error_details":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}}}}},"/v0/clients/sampletypes":{"get":{"summary":"Get all sample types","description":"Returns a list of all sample types (hidden from public documentation).","operationId":"getClientSampleTypes","tags":["Reference Data"],"security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Successful response with list of sample types","content":{"application/json":{"schema":{"type":"object","required":["success","sample_types"],"properties":{"success":{"type":"boolean","example":true},"sample_types":{"type":"array","items":{"type":"object"}}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","description":"Error response","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string","example":"missing_api_key"},"error_message":{"type":"string","example":"Missing API key header"},"error_details":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","description":"Error response","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string","example":"permission_denied"},"error_message":{"type":"string","example":"Access denied"},"error_details":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}}}}},"/v0/clients/samplecategories":{"get":{"summary":"Get all sample categories","description":"Returns a list of all sample categories (hidden from public documentation).","operationId":"getClientSampleCategories","tags":["Reference Data"],"security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Successful response with list of sample categories","content":{"application/json":{"schema":{"type":"object","required":["success","sample_categories"],"properties":{"success":{"type":"boolean","example":true},"sample_categories":{"type":"array","items":{"type":"object"}}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","description":"Error response","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string","example":"missing_api_key"},"error_message":{"type":"string","example":"Missing API key header"},"error_details":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","description":"Error response","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string","example":"permission_denied"},"error_message":{"type":"string","example":"Access denied"},"error_details":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}}}}},"/v0/clients/sampleproductionmethods":{"get":{"summary":"Get all sample production methods","description":"Returns a list of all sample production methods (hidden from public documentation).","operationId":"getClientSampleProductionMethods","tags":["Reference Data"],"security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Successful response with list of production methods","content":{"application/json":{"schema":{"type":"object","required":["success","sample_production_methods"],"properties":{"success":{"type":"boolean","example":true},"sample_production_methods":{"type":"array","items":{"type":"object"}}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","description":"Error response","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string","example":"missing_api_key"},"error_message":{"type":"string","example":"Missing API key header"},"error_details":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","description":"Error response","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string","example":"permission_denied"},"error_message":{"type":"string","example":"Access denied"},"error_details":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}}}}},"/v0/clients/sampleclassifications":{"get":{"summary":"Get all sample classifications","description":"Returns a list of all sample classifications (hidden from public documentation).","operationId":"getClientSampleClassifications","tags":["Reference Data"],"security":[{"ApiKeyAuth":[]}],"responses":{"200":{"description":"Successful response with list of sample classifications","content":{"application/json":{"schema":{"type":"object","required":["success","sample_classifications"],"properties":{"success":{"type":"boolean","example":true},"sample_classifications":{"type":"array","items":{"type":"object"}}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","description":"Error response","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string","example":"missing_api_key"},"error_message":{"type":"string","example":"Missing API key header"},"error_details":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","description":"Error response","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string","example":"permission_denied"},"error_message":{"type":"string","example":"Access denied"},"error_details":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string"}}}}}}}}}}}},"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"X-ConfidentCannabis-APIKey","description":"API key for authentication. Required for all requests."},"SignatureAuth":{"type":"apiKey","in":"header","name":"X-ConfidentCannabis-Signature","description":"HMAC SHA256 signature of the request. Required if signing is enabled for your API credentials."},"TimestampAuth":{"type":"apiKey","in":"header","name":"X-ConfidentCannabis-Timestamp","description":"Unix timestamp of the request. Required if signing is enabled. Must be within 30 seconds of server time."}}},"tags":[{"name":"Client Info","description":"Client organization information"},{"name":"Orders","description":"View orders and order details"},{"name":"Labs","description":"View associated labs"},{"name":"Samples","description":"View samples and test results"},{"name":"Reference Data","description":"Reference data for sample metadata"}]}