{"openapi":"3.1.0","info":{"title":"Confident Cannabis API - Lab Endpoints","version":"0.16.0","description":"API endpoints for laboratories to manage samples, orders, test results, and client relationships. Includes endpoints for submitting test results, uploading files, and managing order lifecycle.","contact":{"name":"Confident Cannabis API Support","url":"https://www.confidentcannabis.com"}},"servers":[{"url":"https://api.confidentcannabis.com","description":"Production server"}],"security":[{"ApiKeyAuth":[],"SignatureAuth":[],"TimestampAuth":[]}],"paths":{"/v0/labs/lab":{"get":{"summary":"Get lab information","description":"Returns information about the authenticated lab organization.","operationId":"getLab","tags":["Lab Info"],"responses":{"200":{"description":"Successful response with lab details","content":{"application/json":{"schema":{"type":"object","required":["success","lab"],"properties":{"success":{"type":"boolean","example":true},"lab":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"email":{"type":"string"},"phone":{"type":"string"},"url":{"type":"string"},"state":{"type":"string"},"city":{"type":"string"}}}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}}}}},"/v0/labs/samples":{"get":{"summary":"List samples","description":"Returns a paginated list of samples for the authenticated lab. Supports filtering by status, client, batch ID, harvest ID, and modification time.","operationId":"getSamples","tags":["Samples"],"parameters":[{"name":"start","in":"query","description":"Pagination offset","schema":{"type":"integer","default":0,"minimum":0}},{"name":"limit","in":"query","description":"Maximum records to return (max 100)","schema":{"type":"integer","default":100,"minimum":1,"maximum":100}},{"name":"status_id","in":"query","description":"Filter by order status ID","schema":{"type":"integer","enum":[1,3,4,5]}},{"name":"client_id","in":"query","description":"Filter by client ID","schema":{"type":"integer"}},{"name":"modified_since_time","in":"query","description":"Filter by modification timestamp","schema":{"type":"string","format":"date-time"}},{"name":"regulator_batch_id","in":"query","schema":{"type":"string"}},{"name":"harvest_id","in":"query","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response with list of samples","content":{"application/json":{"schema":{"type":"object","required":["success","samples","more_results"],"properties":{"success":{"type":"boolean"},"samples":{"type":"array","items":{"type":"object","properties":{"lab_internal_id":{"type":"string"},"public_key":{"type":"string"},"name":{"type":"string"},"sample_type":{"type":"string"},"status_id":{"type":"integer"},"status_name":{"type":"string"},"date_created":{"type":"string","format":"date-time"},"last_modified":{"type":"string","format":"date-time"}}}},"more_results":{"type":"boolean"}}}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}}}}},"/v0/labs/sample/{sample_id}":{"get":{"summary":"Get sample details","description":"Returns detailed information about a specific sample. Sample ID can be lab_internal_id, public_key, or regulator_id_to_attach.","operationId":"getSampleDetails","tags":["Samples"],"parameters":[{"name":"sample_id","in":"path","required":true,"description":"Sample identifier (lab_internal_id, public_key, or regulator_id_to_attach)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response with sample details","content":{"application/json":{"schema":{"type":"object","required":["success","sample"],"properties":{"success":{"type":"boolean","example":true},"sample":{"properties":{"lab_internal_id":{"type":"string"},"public_key":{"type":"string"},"name":{"type":"string"},"sample_type":{"type":"string"},"status_id":{"type":"integer"},"status_name":{"type":"string"},"date_created":{"type":"string","format":"date-time"},"last_modified":{"type":"string","format":"date-time"},"regulator_batch_id":{"type":"string"},"harvest_id":{"type":"string"},"sample_classification":{"type":"string"},"strain":{"type":"string"},"test_results":{"type":"object"},"images":{"type":"array","items":{"type":"object"}},"coa_url":{"type":"string"}},"type":"object"}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}}}},"patch":{"summary":"Edit sample properties","description":"Updates editable properties of a sample such as name, strain, batch ID, harvest ID, etc.","operationId":"editSample","tags":["Samples"],"parameters":[{"name":"sample_id","in":"path","required":true,"description":"Sample identifier (lab_internal_id, public_key, or regulator_id_to_attach)","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"name":{"type":"string"},"strain":{"type":"string"},"regulator_batch_id":{"type":"string"},"harvest_id":{"type":"string"},"sample_classification_id":{"type":"integer"},"sample_production_method_id":{"type":"integer"}}},"examples":{"basic_edit":{"summary":"Update sample name and batch ID","value":{"name":"OG Kush - Updated Name","regulator_batch_id":"BATCH-42-UPDATED"}}}}}},"responses":{"200":{"description":"Successful edit","content":{"application/json":{"schema":{"type":"object","required":["success","sample"],"properties":{"success":{"type":"boolean","example":true},"sample":{"properties":{"lab_internal_id":{"type":"string"},"public_key":{"type":"string"},"name":{"type":"string"},"sample_type":{"type":"string"},"status_id":{"type":"integer"},"status_name":{"type":"string"},"date_created":{"type":"string","format":"date-time"},"last_modified":{"type":"string","format":"date-time"},"regulator_batch_id":{"type":"string"},"harvest_id":{"type":"string"},"sample_classification":{"type":"string"},"strain":{"type":"string"},"test_results":{"type":"object"},"images":{"type":"array","items":{"type":"object"}},"coa_url":{"type":"string"}},"type":"object"}}}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}}}}},"/v0/labs/sample/{sample_id}/image":{"post":{"summary":"Upload sample image","description":"Uploads an image file for a sample. Supported formats: jpg, jpeg, png, gif, bmp. Can only be uploaded while order is in progress (status_id 3). Do NOT include file fields in signature generation.","operationId":"uploadSampleImage","tags":["Sample Files"],"parameters":[{"name":"sample_id","in":"path","required":true,"description":"Sample identifier (lab_internal_id, public_key, or regulator_id_to_attach)","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","required":["file"],"properties":{"file":{"type":"string","format":"binary","description":"Image file (jpg, jpeg, png, gif, bmp)"},"subtype":{"type":"integer","description":"Image subtype (0=Sample, 1=Microscope, 2=Micro Plate, 3=Chromatogram, etc.)","default":0},"set_as_cover":{"type":"boolean","description":"Set this image as the cover image","default":false}}}}}},"responses":{"200":{"description":"Successful upload","content":{"application/json":{"schema":{"type":"object","required":["success","image_url"],"properties":{"success":{"type":"boolean","example":true},"image_url":{"type":"string","format":"uri","example":"https://cdn.confidentcannabis.com/images/sample123.jpg"}}}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}}}}},"/v0/labs/sample/{sample_id}/coa":{"post":{"summary":"Upload Certificate of Analysis","description":"Uploads a PDF Certificate of Analysis for a sample. Only PDF files are accepted. Can only be uploaded while order is in progress. Do NOT include file field in signature.","operationId":"uploadSampleCOA","tags":["Sample Files"],"parameters":[{"name":"sample_id","in":"path","required":true,"description":"Sample identifier (lab_internal_id, public_key, or regulator_id_to_attach)","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","required":["file"],"properties":{"file":{"type":"string","format":"binary","description":"PDF file"}}}}}},"responses":{"200":{"description":"Successful upload","content":{"application/json":{"schema":{"type":"object","required":["success","coa_url"],"properties":{"success":{"type":"boolean","example":true},"coa_url":{"type":"string","format":"uri","example":"https://cdn.confidentcannabis.com/coa/sample123.pdf"}}}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}}}}},"/v0/labs/sample/{sample_id}/coa_addition":{"post":{"summary":"Upload CoA addition file","description":"Uploads an additional file related to the Certificate of Analysis. Supported formats: pdf, jpg, jpeg, png, gif, bmp. Do NOT include file field in signature.","operationId":"uploadSampleCOAAddition","tags":["Sample Files"],"parameters":[{"name":"sample_id","in":"path","required":true,"description":"Sample identifier (lab_internal_id, public_key, or regulator_id_to_attach)","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","required":["file"],"properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"Successful upload","content":{"application/json":{"schema":{"type":"object","required":["success","addition_url"],"properties":{"success":{"type":"boolean","example":true},"addition_url":{"type":"string","format":"uri"}}}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}}}}},"/v0/labs/sample/{sample_id}/test_results":{"post":{"summary":"Submit test results","description":"Submits test results for a sample. Test results are organized by category (cannabinoids, terpenes, pesticides, etc.) with compound data and info fields. All numeric values should be strings to preserve precision. Subsequent submissions overwrite previous data.","operationId":"submitTestResults","tags":["Test Results"],"parameters":[{"name":"sample_id","in":"path","required":true,"description":"Sample identifier (lab_internal_id, public_key, or regulator_id_to_attach)","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["test_results"],"properties":{"test_results":{"type":"string","description":"JSON string containing test results organized by category. Must be a string, not an object.","example":"{\"categories\": {\"cannabinoids\": {\"info_fields\": {\"input_units\": \"mg/g\", \"report_units\": \"mg/g\", \"date_tested\": \"2025-01-15\"}, \"compounds\": [{\"name\": \"thc\", \"value\": \"18.5\"}]}}}"},"publish_data":{"type":"boolean","description":"Whether to publish the test results","default":false},"date_published":{"type":"string","format":"date","description":"Publication date (required if publish_data is true)"}}},"examples":{"cannabinoids_only":{"summary":"Simple cannabinoids test","value":{"test_results":"{\"categories\": {\"cannabinoids\": {\"info_fields\": {\"input_units\": \"mg/g\", \"report_units\": \"mg/g\", \"date_tested\": \"2025-01-15\"}, \"compounds\": [{\"name\": \"thc\", \"value\": \"18.5\"}, {\"name\": \"cbd\", \"value\": \"0.8\"}]}}}","publish_data":false}},"multi_category":{"summary":"Cannabinoids and Terpenes","value":{"test_results":"{\"categories\": {\"cannabinoids\": {\"info_fields\": {\"input_units\": \"mg/g\", \"report_units\": \"mg/g\", \"date_tested\": \"2025-01-15\"}, \"compounds\": [{\"name\": \"thc\", \"value\": \"18.5\", \"lod\": \"0.01\", \"loq\": \"0.05\"}, {\"name\": \"cbd\", \"value\": \"0.8\"}]}, \"terpenes\": {\"info_fields\": {\"input_units\": \"mg/g\", \"report_units\": \"mg/g\", \"date_tested\": \"2025-01-15\"}, \"compounds\": [{\"name\": \"limonene\", \"value\": \"2.5\"}, {\"name\": \"myrcene\", \"value\": \"1.8\"}]}}}","publish_data":true,"date_published":"2025-01-16"}}}}}},"responses":{"200":{"description":"Test results submitted successfully","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean","example":true}}}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}}}}},"/v0/labs/sample/{sample_id}/weight_on_hand":{"post":{"summary":"Adjust weight on hand","description":"Adjusts the weight on hand for a sample with a reason code.","operationId":"adjustWeightOnHand","tags":["Samples"],"parameters":[{"name":"sample_id","in":"path","required":true,"description":"Sample identifier (lab_internal_id, public_key, or regulator_id_to_attach)","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["weight_change","units","change_reason"],"properties":{"weight_change":{"type":"string","description":"Weight change amount (can be negative). As string to preserve precision.","example":"-2.5"},"units":{"type":"string","description":"Weight units","enum":["g","units"],"example":"g"},"change_reason":{"type":"integer","description":"Reason code: 0=other, 1=initial, 2=destroyed, 3=used, 4=returned, 5=lost, 6=stolen, 7=addition","enum":[0,1,2,3,4,5,6,7],"example":3},"notes":{"type":"string","description":"Optional notes about the change"}}},"examples":{"adjustment":{"summary":"Record sample usage","value":{"weight_change":"-2.5","units":"g","change_reason":3,"notes":"Used for additional testing"}}}}}},"responses":{"200":{"description":"Weight adjusted successfully","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean","example":true}}}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}}}}},"/v0/labs/orders":{"get":{"summary":"List orders","description":"Returns a paginated list of orders for the authenticated lab.","operationId":"getOrders","tags":["Orders"],"parameters":[{"name":"start","in":"query","description":"Pagination offset","schema":{"type":"integer","default":0,"minimum":0}},{"name":"limit","in":"query","description":"Maximum records to return (max 100)","schema":{"type":"integer","default":100,"minimum":1,"maximum":100}},{"name":"status_id","in":"query","description":"Filter by order status ID","schema":{"type":"integer","enum":[1,3,4,5]}},{"name":"client_id","in":"query","description":"Filter by client ID","schema":{"type":"integer"}},{"name":"modified_since_time","in":"query","description":"Filter by modification timestamp","schema":{"type":"string","format":"date-time"}}],"responses":{"200":{"description":"Successful response with list of orders","content":{"application/json":{"schema":{"type":"object","required":["success","orders","more_results"],"properties":{"success":{"type":"boolean"},"orders":{"type":"array","items":{"type":"object","properties":{"lab_internal_id":{"type":"string"},"status_id":{"type":"integer"},"status_name":{"type":"string"},"client_id":{"type":"integer"},"client_name":{"type":"string"},"num_samples":{"type":"integer"},"date_placed":{"type":"string","format":"date-time"},"last_modified":{"type":"string","format":"date-time"}}}},"more_results":{"type":"boolean"}}}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}}}}},"/v0/labs/order":{"post":{"summary":"Create order","description":"Creates a new order with one or more samples.","operationId":"createOrder","tags":["Orders"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["client_id","lab_internal_id","samples"],"properties":{"client_id":{"type":"integer","description":"Client ID"},"lab_internal_id":{"type":"string","description":"Lab's internal order ID"},"samples":{"type":"array","description":"Array of samples to include in order","minItems":1,"items":{"type":"object","required":["name","sample_type_id","lab_internal_id"],"properties":{"name":{"type":"string"},"sample_type_id":{"type":"integer"},"lab_internal_id":{"type":"string"},"strain":{"type":"string"},"regulator_batch_id":{"type":"string"},"harvest_id":{"type":"string"}}}}}},"examples":{"single_sample":{"summary":"Order with one sample","value":{"client_id":123,"lab_internal_id":"ORD-2025-100","samples":[{"name":"OG Kush - Batch 42","sample_type_id":1,"lab_internal_id":"SAMP-2025-100","regulator_batch_id":"BATCH-42"}]}}}}}},"responses":{"200":{"description":"Order created successfully","content":{"application/json":{"schema":{"type":"object","required":["success","order"],"properties":{"success":{"type":"boolean","example":true},"order":{"properties":{"lab_internal_id":{"type":"string"},"status_id":{"type":"integer"},"status_name":{"type":"string"},"client_id":{"type":"integer"},"client_name":{"type":"string"},"num_samples":{"type":"integer"},"date_placed":{"type":"string","format":"date-time"},"last_modified":{"type":"string","format":"date-time"},"samples":{"type":"array","items":{"type":"object","properties":{"lab_internal_id":{"type":"string"},"public_key":{"type":"string"},"name":{"type":"string"},"sample_type":{"type":"string"},"status_id":{"type":"integer"},"status_name":{"type":"string"},"date_created":{"type":"string","format":"date-time"},"last_modified":{"type":"string","format":"date-time"}}}}},"type":"object"}}}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}}}}},"/v0/labs/order/{order_id}":{"get":{"summary":"Get order details","description":"Returns detailed information about a specific order.","operationId":"getOrderDetails","tags":["Orders"],"parameters":[{"name":"order_id","in":"path","required":true,"description":"Order identifier (lab_internal_id)","schema":{"type":"string"}}],"responses":{"200":{"description":"Successful response with order details","content":{"application/json":{"schema":{"type":"object","required":["success","order"],"properties":{"success":{"type":"boolean","example":true},"order":{"properties":{"lab_internal_id":{"type":"string"},"status_id":{"type":"integer"},"status_name":{"type":"string"},"client_id":{"type":"integer"},"client_name":{"type":"string"},"num_samples":{"type":"integer"},"date_placed":{"type":"string","format":"date-time"},"last_modified":{"type":"string","format":"date-time"},"samples":{"type":"array","items":{"type":"object","properties":{"lab_internal_id":{"type":"string"},"public_key":{"type":"string"},"name":{"type":"string"},"sample_type":{"type":"string"},"status_id":{"type":"integer"},"status_name":{"type":"string"},"date_created":{"type":"string","format":"date-time"},"last_modified":{"type":"string","format":"date-time"}}}}},"type":"object"}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}}}},"patch":{"summary":"Edit order","description":"Updates editable properties of an order.","operationId":"editOrder","tags":["Orders"],"parameters":[{"name":"order_id","in":"path","required":true,"description":"Order identifier (lab_internal_id)","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","properties":{"lab_internal_id":{"type":"string"},"notes":{"type":"string"}}}}}},"responses":{"200":{"description":"Order updated successfully","content":{"application/json":{"schema":{"type":"object","required":["success","order"],"properties":{"success":{"type":"boolean","example":true},"order":{"properties":{"lab_internal_id":{"type":"string"},"status_id":{"type":"integer"},"status_name":{"type":"string"},"client_id":{"type":"integer"},"client_name":{"type":"string"},"num_samples":{"type":"integer"},"date_placed":{"type":"string","format":"date-time"},"last_modified":{"type":"string","format":"date-time"},"samples":{"type":"array","items":{"type":"object","properties":{"lab_internal_id":{"type":"string"},"public_key":{"type":"string"},"name":{"type":"string"},"sample_type":{"type":"string"},"status_id":{"type":"integer"},"status_name":{"type":"string"},"date_created":{"type":"string","format":"date-time"},"last_modified":{"type":"string","format":"date-time"}}}}},"type":"object"}}}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}}}}},"/v0/labs/order/{order_id}/document":{"post":{"summary":"Upload order document","description":"Uploads a document file for an order. Supported formats: csv, pdf, png, jpg, txt, etc. Do NOT include file field in signature.","operationId":"uploadOrderDocument","tags":["Orders"],"parameters":[{"name":"order_id","in":"path","required":true,"description":"Order identifier (lab_internal_id)","schema":{"type":"string"}}],"requestBody":{"required":true,"content":{"multipart/form-data":{"schema":{"type":"object","required":["file"],"properties":{"file":{"type":"string","format":"binary"}}}}}},"responses":{"200":{"description":"Document uploaded successfully","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean","example":true}}}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}}}}},"/v0/labs/order/{order_id}/status/verify":{"post":{"summary":"Verify order","description":"Moves order from 'Placed' (status_id 1) to 'In Progress' (status_id 3).","operationId":"verifyOrder","tags":["Order Status"],"parameters":[{"name":"order_id","in":"path","required":true,"description":"Order identifier (lab_internal_id)","schema":{"type":"string"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"date_verified":{"type":"string","format":"date","description":"Optional verification date (defaults to current date)"}}}}}},"responses":{"200":{"description":"Order verified successfully","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean","example":true}}}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}}}}},"/v0/labs/order/{order_id}/status/complete":{"post":{"summary":"Complete order","description":"Moves order from 'In Progress' (status_id 3) to 'Completed' (status_id 4).","operationId":"completeOrder","tags":["Order Status"],"parameters":[{"name":"order_id","in":"path","required":true,"description":"Order identifier (lab_internal_id)","schema":{"type":"string"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"date_completed":{"type":"string","format":"date"}}}}}},"responses":{"200":{"description":"Order completed successfully","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean","example":true}}}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}}}}},"/v0/labs/order/{order_id}/status/unverify":{"post":{"summary":"Unverify order","description":"Moves order from 'In Progress' (status_id 3) back to 'Placed' (status_id 1).","operationId":"unverifyOrder","tags":["Order Status"],"parameters":[{"name":"order_id","in":"path","required":true,"description":"Order identifier (lab_internal_id)","schema":{"type":"string"}}],"responses":{"200":{"description":"Order unverified successfully","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean","example":true}}}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}}}}},"/v0/labs/order/{order_id}/status/revise":{"post":{"summary":"Revise order","description":"Moves order from 'Completed' (status_id 4) back to 'In Progress' (status_id 3).","operationId":"reviseOrder","tags":["Order Status"],"parameters":[{"name":"order_id","in":"path","required":true,"description":"Order identifier (lab_internal_id)","schema":{"type":"string"}}],"responses":{"200":{"description":"Order moved to in progress for revision","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean","example":true}}}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}}}}},"/v0/labs/order/{order_id}/status/cancel":{"post":{"summary":"Cancel order","description":"Moves order to 'Canceled' (status_id 5).","operationId":"cancelOrder","tags":["Order Status"],"parameters":[{"name":"order_id","in":"path","required":true,"description":"Order identifier (lab_internal_id)","schema":{"type":"string"}}],"requestBody":{"required":false,"content":{"application/json":{"schema":{"type":"object","properties":{"cancel_reason":{"type":"string","description":"Optional reason for cancellation"}}}}}},"responses":{"200":{"description":"Order canceled successfully","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean","example":true}}}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}}}}},"/v0/labs/order/{order_id}/status/uncancel":{"post":{"summary":"Uncancel order","description":"Moves order from 'Canceled' (status_id 5) back to 'Placed' (status_id 1).","operationId":"uncancelOrder","tags":["Order Status"],"parameters":[{"name":"order_id","in":"path","required":true,"description":"Order identifier (lab_internal_id)","schema":{"type":"string"}}],"responses":{"200":{"description":"Order uncanceled successfully","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean","example":true}}}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}}}}},"/v0/labs/testpackages":{"get":{"summary":"Get test packages","description":"Returns a list of active test packages for this lab.","operationId":"getTestPackages","tags":["Reference Data"],"responses":{"200":{"description":"Successful response with list of test packages","content":{"application/json":{"schema":{"type":"object","required":["success","test_packages"],"properties":{"success":{"type":"boolean","example":true},"test_packages":{"type":"array","items":{"type":"object"}}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}}}}},"/v0/labs/testtypes":{"get":{"summary":"Get test types","description":"Returns a list of all available test types (accessible to both labs and clients).","operationId":"getLabTestTypes","tags":["Reference Data"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","required":["success","test_types"],"properties":{"success":{"type":"boolean","example":true},"test_types":{"type":"array","items":{"type":"object"}}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}}}}},"/v0/labs/compounds":{"get":{"summary":"Get compounds","description":"Returns a list of all compounds (accessible to both labs and clients).","operationId":"getLabCompounds","tags":["Reference Data"],"responses":{"200":{"description":"Successful response","content":{"application/json":{"schema":{"type":"object","required":["success","compounds"],"properties":{"success":{"type":"boolean","example":true},"compounds":{"type":"array","items":{"type":"object"}}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}}}}},"/v0/labs/clients":{"get":{"summary":"List clients","description":"Returns a paginated list of clients associated with this lab.","operationId":"getClients","tags":["Clients"],"parameters":[{"name":"start","in":"query","description":"Pagination offset","schema":{"type":"integer","default":0,"minimum":0}},{"name":"limit","in":"query","description":"Maximum records to return (max 100)","schema":{"type":"integer","default":100,"minimum":1,"maximum":100}}],"responses":{"200":{"description":"Successful response with list of clients","content":{"application/json":{"schema":{"type":"object","required":["success","clients","more_results"],"properties":{"success":{"type":"boolean","example":true},"clients":{"type":"array","items":{"type":"object","properties":{"id":{"type":"integer"},"name":{"type":"string"},"training":{"type":"boolean"},"last_modified":{"type":"string","format":"date-time"}}}},"more_results":{"type":"boolean","example":false}}}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}}}},"post":{"summary":"Create client","description":"Creates a new client organization for this lab.","operationId":"createClient","tags":["Clients"],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["name"],"properties":{"name":{"type":"string","description":"Client organization name"},"email":{"type":"string"},"phone":{"type":"string"},"url":{"type":"string"}}}}}},"responses":{"200":{"description":"Client created successfully","content":{"application/json":{"schema":{"type":"object","required":["success","client"],"properties":{"success":{"type":"boolean","example":true},"client":{"properties":{"id":{"type":"integer"},"name":{"type":"string"},"training":{"type":"boolean"},"last_modified":{"type":"string","format":"date-time"},"email":{"type":"string"},"phone":{"type":"string"},"url":{"type":"string"}},"type":"object"}}}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}}}}},"/v0/labs/client/{client_id}":{"get":{"summary":"Get client details","description":"Returns detailed information about a specific client.","operationId":"getClientDetails","tags":["Clients"],"parameters":[{"name":"client_id","in":"path","description":"The ID of the client","schema":{"type":"integer"},"required":true}],"responses":{"200":{"description":"Successful response with client details","content":{"application/json":{"schema":{"type":"object","required":["success","client"],"properties":{"success":{"type":"boolean","example":true},"client":{"properties":{"id":{"type":"integer"},"name":{"type":"string"},"training":{"type":"boolean"},"last_modified":{"type":"string","format":"date-time"},"email":{"type":"string"},"phone":{"type":"string"},"url":{"type":"string"}},"type":"object"}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}}}}},"/v0/labs/client/{client_id}/invite":{"post":{"summary":"Invite user to client","description":"Invites a user to join a client organization with a specified role.","operationId":"inviteUserToClient","tags":["Clients"],"parameters":[{"name":"client_id","in":"path","description":"The ID of the client","schema":{"type":"integer"},"required":true}],"requestBody":{"required":true,"content":{"application/json":{"schema":{"type":"object","required":["email","role"],"properties":{"email":{"type":"string","format":"email"},"role":{"type":"string","enum":["owner","admin","user","viewer"],"description":"User role in the client organization"},"first_name":{"type":"string"},"last_name":{"type":"string"}}},"examples":{"invite":{"summary":"Invite user as admin","value":{"email":"user@example.com","role":"admin","first_name":"John","last_name":"Doe"}}}}}},"responses":{"200":{"description":"Invitation sent successfully","content":{"application/json":{"schema":{"type":"object","required":["success"],"properties":{"success":{"type":"boolean","example":true}}}}}},"400":{"description":"Invalid request","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"401":{"description":"Authentication failed","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"403":{"description":"Access denied","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}},"404":{"description":"Resource not found","content":{"application/json":{"schema":{"type":"object","required":["success","error_code","error_message"],"properties":{"success":{"type":"boolean","example":false},"error_code":{"type":"string"},"error_message":{"type":"string"},"error_details":{"type":"object"}}}}}}}}}},"components":{"securitySchemes":{"ApiKeyAuth":{"type":"apiKey","in":"header","name":"X-ConfidentCannabis-APIKey","description":"API key for authentication"},"SignatureAuth":{"type":"apiKey","in":"header","name":"X-ConfidentCannabis-Signature","description":"HMAC SHA256 signature (required if signing enabled)"},"TimestampAuth":{"type":"apiKey","in":"header","name":"X-ConfidentCannabis-Timestamp","description":"Unix timestamp (required if signing enabled, must be within 30 seconds)"}}},"tags":[{"name":"Lab Info","description":"Lab organization information"},{"name":"Samples","description":"Sample management operations"},{"name":"Sample Files","description":"Upload sample images and documents"},{"name":"Test Results","description":"Submit and manage test results"},{"name":"Orders","description":"Order management operations"},{"name":"Order Status","description":"Order lifecycle state transitions"},{"name":"Reference Data","description":"Reference data endpoints"},{"name":"Clients","description":"Client relationship management"}]}